{% extends 'User/Header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            margin-top: 30px;
        }
        td{
            padding: 30px;
        }
    </style>
</head>
<body>
   
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location="{% url 'webuser:Changepassword' %}"
    </script>
    {% endif %}
    {% block content %}
    <br><br>
    <div id="tab" align="center">
    <form method="post">
        {% csrf_token %}
        <table border="1" align="center">
            <tr>
                <td>Current Password</td>
                <td><input type="password" name="txtpass" id=""></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="txtnew" id=""></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="txtcon" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="Save" value="Save">
                <input type="reset" name="cancel" value="cancel"></td>
            </tr>



        </table>
    </form>
</div>
    <br><br>
</body>
</html>
{% endblock content %}